.color1{
    background: #c66964;
}
.color2{
    background: #7f638c;
}
.color3{
    background: #a0c750;
}
.color4{
    background: #ff971e;
}
.color5{
    background: #55abdc;
}
.color6{
    background: #b352a3;
}
.color7{
    background: #67cb44;
}
.color8{
    background: #6a75d1;
}
.color9{
    background: #ecb729;
}
.color10{
    background: #2c9489;
}
.color11{
    background: #c66964;
}
.color12{
    background: #c66964;
}
