

/**
 * The CSS in this file is for styling the demo page,
 * Meny's critical styles (such as transforms) are applied
 * via JavaScript.
 *
 * See the documentation here: https://github.com/hakimel/meny#meny
 *
 * @author Hakim El Hattab | http://hakim.se
 */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #222;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
    background-repeat: repeat;

    font-family: 'MicroSoft YaHei', Helvetica, sans-serif;
    /*font-family: 'Lato', Helvetica, sans-serif;*/
    font-size: 16px;
    color: #222;
}

a {
    color: #13daec;
    text-decoration: none;

    -webkit-transition: 0.15s color ease;
    -moz-transition: 0.15s color ease;
    -ms-transition: 0.15s color ease;
    -o-transition: 0.15s color ease;
    transition: 0.15s color ease;
}
a:hover {
    color: #FF5E99;
}

h1,
h2 {
    font-size: 16px;
}

.meny {
    display: none;
    padding: 20px;
    overflow: auto;
    background: #333;
    color: #eee;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.meny ul {
    margin-top: 20px;
}
.meny ul li {
    display: inline-block;
    width: 200px;
    list-style: none;
    font-size: 14px;
    padding: 5px 5px;
}
.meny ul li:before {
    content: '-';
    margin-right: 5px;
    color: rgba( 255, 255, 255, 0.2 );
}

/**
 * Hint graphic that appears while menu is inactive
 */
.meny-arrow {
    position: absolute;
    z-index: 10;

    border: 10px solid transparent;

    -webkit-transition: opacity 0.4s ease 0.4s;
    -moz-transition: opacity 0.4s ease 0.4s;
    -ms-transition: opacity 0.4s ease 0.4s;
    -o-transition: opacity 0.4s ease 0.4s;
    transition: opacity 0.4s ease 0.4s;
}
.meny-left .meny-arrow {
    left: 14px;
    top: 50%;
    margin-top: -16px;
    border-left: 16px solid #333;
}
.meny-right .meny-arrow {
    right: 14px;
    top: 50%;
    margin-top: -16px;
    border-right: 16px solid #333;
}
.meny-top .meny-arrow {
    left: 50%;
    top: 14px;
    margin-left: -16px;
    border-top: 16px solid #333;
}
.meny-bottom .meny-arrow {
    left: 50%;
    bottom: 14px;
    margin-left: -16px;
    border-bottom: 16px solid #333;
}
.meny-active .meny-arrow {
    opacity: 0;

    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

/**
 * Main contents area
 */
.contents {
    background: white;
    width: 100%;
    height: 100%;
    overflow: hidden;

    -webkit-overflow-scrolling: touch;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wall-bg{
    width: 928px; 
    height: 100%; 
    background: url(../images/body.png) repeat-x; 
    margin: 0 auto;
}

.m-logbg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page-mc-login{
    background-color: transparent;
    background-image: none ;
}

.mc-login-title{
    font-family: MicroSoft YaHei;
    font-size: 5em;
    color: white;
    line-height: 0.9em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #646464, 0 2px 0 #969696;
}

#block-user-login h2{
    display: none;
}

.form-type-textfield{
    float: left;
    width: 320px;
    height: 60px;
    background: url(../images/mc-login-form.png) no-repeat -12px -170px;
}

.form-type-password{
    float: left;
    width: 320px;
    height: 60px;
    margin-left: 20px;
    background: url(../images/mc-login-form.png) no-repeat -12px -170px;
}

.form-type-textfield label{
    display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #e9e9e9 inset;
}

.form-type-textfield input{
    margin-left: 10px;
    margin-top: 10px;
    border: 0px;
    width: 280px;
    height: 40px;
    font-size: 20px;
    background: #e9e9e9;
    /*background: url(../images/mc-login-empty.png) repeat;*/
}

.form-type-password label{
    display: none;
}

.form-type-password input{
    margin-left: 10px;
    margin-top: 10px;
    border: 0px;
    width: 280px;
    height: 40px;
    font-size: 20px;
    background: #e9e9e9;
    /*background: url(../images/mc-login-empty.png) repeat;*/
}

.item-list{
    display: none;
}

#edit-actions{
    float: left;
    margin-left: 20px;
}

#edit-submit{
    width: 115px;
    height: 53px;
    border: 0;
    background: url(../images/mc-login-button.png) no-repeat;
    cursor: pointer;
}

.mc-container{
    background-image: url(../images/mc-bg.jpg);
}

.mc-header{
    width: 100%; 
    height: 12%; 
    background: BLACK; 
    filter:alpha(opacity=70); 
    -moz-opacity:0.7; 
    opacity:0.7;
}

.mc-content{
    width: 100%; 
    height: 78%; 
    padding-left: 190px;
    padding-top: 20px;
}

.mc-footer{
    width: 100%; 
    height: 10%; 
    background: BLACK; 
    filter:alpha(opacity=50); 
    -moz-opacity:0.5; 
    opacity:0.5;
}

.mc-full-column{
    float: left;
    width: 250px;
    height: 400px;
    margin-left: 15px;
}

.mc-semi-column{
    float: left;
    width: 120px;
    height: 400px;
    margin-left: 15px;
}

.mc-full-item{
    color: white;
    width: 250px;
    height: 120px;
    margin-bottom: 15px;
    -moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
    -webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
    box-shadow:2px 2px 10px #909090;/*opera或ie9*/
    cursor: pointer;
}

.mc-big-item{
    color: white;
    width: 250px;
    height: 255px;
    margin-bottom: 15px;
    -moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
    -webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
    box-shadow:2px 2px 10px #909090;/*opera或ie9*/
    cursor: pointer;
}

.mc-semi-item{
    color: white;
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    -moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
    -webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
    box-shadow:2px 2px 10px #909090;/*opera或ie9*/
    cursor: pointer;
}

.mc-content-intr{
    margin-left: 20px;
    color: white;
    height: 60px;
    font-size: 24px;
}

.topic-image{
    padding-left: 200px;
    padding-bottom: 20px;
}

.mc-item-icon{
    float: left; 
    margin: 28px 0px 28px 20px;
}

.mc-item-text{
    float: left; 
    margin-top: 55px; 
    margin-left: 20px; 
    font-size: 24px;
}

.edit-footprint-item{
    color: white;
    width: 250px;
    height: 120px;
    margin-bottom: 15px;
    -moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
    -webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
    box-shadow:2px 2px 10px #909090;/*opera或ie9*/
    cursor: pointer;
    float: left;
    margin-right: 20px;
}

.footprint-title{
    font-size: 20px;
    margin: 5px 0px 10px 10px;
}

.footprint-body{
    font-size: 12px;
    margin: 0px 10px 5px 10px;
    height: 20px;
}
